
:root {
    --white: #ffffff;
  }

  html,body{
    width: 100%;
   
   
}

* { margin: 0; padding: 0; }
  


body{
    overflow-x: hidden; 
    background-color: #FFF;
    
    
}

@media only screen and (max-width : 480px) {
    *{
        margin:0;
        padding:0 ;
    }
    
    body{
        overflow-x: hidden;
        background-color: white !important;
        /*padding-left: 4% !important;*/
        display: flex;
        flex-direction: column;
        padding: 0 !important;
        margin: 0 !important;
        max-width: 100% !important;
        
    }
    .first-pic-mobi{
        display: flex !important;
        width: 98%;
        height: 240px;
        background: url("./assets/mobile/image-hero.jpg");
        background-size: cover;
        background-position: 50%;
    }

    .mobi-sec{
        display: flex !important;
        flex-direction: column;
        /*background-color: pink;*/
        align-items: center;
        margin:auto;
        width: 98%;
        
    
    }

    .mobi-sec-case{

        /*background-color: pink;*/
        width:98%;
    }
    .mobi-upper-heading{
        margin-top: 7%;
        display: flex;
        justify-content: center;
        /*background-color: #D5966C;*/
        width: 98%;
        color: var(--Almost-Black, #151515) !important;
        font-family: Big Shoulders Display !important;
        font-size: 60px !important;
        font-style: normal !important;
        font-weight: 900 !important;
        line-height: 55px !important; /* 91.667% */
        text-transform: uppercase !important;
        
    }

    .upper-text-mobi{
        width: 98%;
        padding-top: 5% !important;
        display: flex !important;
        /*background-color: palegoldenrod;*/
        margin: 0 !important;
        color: black;
        font-family: Outfit;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: 15px; /* 145.455% */
        padding-bottom: 20px;
        margin-bottom: 2% !important;
    
    }

    .location-button-mobi{
       
        display: inline-flex !important;
        margin:0 !important;
        /*background-color: yellow;*/
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 12% !important;
    }

    .our-location-mobi{
        width: 204px;
        height: 72px;
        color: white !important;
        display: flex ;
        justify-content: center !important;
        align-items:center !important;
        background: var(--Almost-Black, #151515);
        color: var(--White, #FFF);
        font-family: Big Shoulders Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 3.636px;
        
    }

    .our-location-select-mobi{
        background-color: aqua;
        width: 56px;
        height: 72px;
        flex-shrink: 0;
    }

    .our-location-mobi a:link{
        color: #FFF;
        text-decoration: none ;
    }



    .mobi-third{
        width:100%;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*background-color: violet !important;*/
        gap:4px
       
    }

    .sec-pic-mobi{
        display: flex !important;
        /*background-color: #D5966C;*/
        margin-top: 4px;
        background: url("./assets/mobile/image-grid-1.jpg");
        background-size: cover;
        background-repeat: no-repeat !important;
        height: 240px;
        width: 95%;
        margin-bottom: 4%;
    }

    .big-text-mobi{
       
        /*background-color: green;*/
        width: 95%;
        height: 100px;
        color: var(--Almost-Black, #151515);
        font-family: Big Shoulders Display;
        font-size: 50px;
        font-style: normal;
        font-weight: 900;
        line-height: 45px; /* 90% */
        text-transform: uppercase;
        
        
    }

    .small-text-mobi{
        width: 95%;
        color: var(--Dark-Grey, #444);
        /*background-color: blue;*/
        font-family: Outfit;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 155.556% */
        margin-bottom: 4%;
    }
    .third-pic-mobi{
        display: flex !important;
        /*background-color: #D5966C;*/
        margin-top: 4px;
        background: url("./assets/mobile/image-grid-2.jpg");
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 320px;
        width: 95%;
        height: 480px;
    }

    .fourth-pic-mobi{
        margin-top: 2%;
        display: flex !important;
        width: 95%;
        height: 200px;
        /*background-color: #D5966C;*/
        background: url("./assets/mobile/image-grid-3.jpg");
        background-size: cover;
    }

    .welcome-message-mobi{
        display: flex;
        /*background-color: pink;*/
        color: var(--White, #FFF);
        font-family: Outfit;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 155.556% */
        width: 295px;
    }

    .pic4-mobi{
        margin-top: 2%;
        background-color: #151515;
        display: flex !important;
        flex-direction: column !important;
        padding-left: 0 !important;
        justify-content: space-evenly;
        align-items: center;
        gap:6px !important;
        width:95%;
        height: 293px;

    }
    

    .be-inspired-mobi{
        display: flex;
        width: 295px;
        /*background-color: #D5966C;*/
        color: var(--White, #FFF);
        font-family: Big Shoulders Display;
        font-size: 50px;
        font-style: normal;
        font-weight: 900;
        line-height: 45px; /* 90% */
        text-transform: uppercase;
        
    }
    .darker{
        display: flex !important;
        background-color: black;
    }
    .footer-mobi{
        margin-top: 5%;
        box-sizing: border-box;
        margin-top: 60px !important;
        display: flex !important;
        flex-direction: column !important;
        width: 100%;
        height:336px;
        background-color: #151515!important;
        padding-left: 12% !important;
        justify-content: space-evenly;
        
        
       
        
        
    }

    .footer-message-mobi{
        color: var(--White, #FFF);
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px; /* 162.5% */
        width:95%;
       
       
    }

    .footer-icons-mobi{
        width: 100px;
        height: 20px;
       
    }

    .footer-mobiB{
        margin-top: 60px !important;
        display: flex !important;
        flex-direction: column !important;
        width: 100vw;
        background-color: #D5966C !important;
        height: 60px;
        padding: 0 !important;
        color: black !important;
        
    }
    .footer-header-mobi{
        
        width: 110.05px;
        height: 40px
       
        
    }

    .footer-header-mobi svg {
        width: 110.05px;
        height: 40px;
        fill: var(--White, #FFF);
    }

    .locationpage-mobi{
        display: flex !important;
        flex-direction: column;
        width:100%;
        background-color: aqua;
    }
 
    .map-mobi{
        width: 100%;
        height: 574px;
        background: url("./assets/mobile/image-map.png");
        background-size: cover ;
    }

    .locationpage-location-button-mobi{
        display: flex ;
    }
    .map-mobi .locatiopage-location-mobi{
        display: inline-flex;
        justify-content: center ;
        align-items: center;
        width: 208px;
        height: 72px;
        flex-shrink: 0;
        background: var(--Almost-Black, #151515);
        color: var(--White, #FFF);
        font-family: Big Shoulders Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 3.636px;
    }


    .map-mobi .locatiopage-location-mobi svg{

        width: 56px;
        height: 72px;
        flex-shrink: 0;

    }

    .address-and-location-mobi{
        display: flex !important;  
        flex-direction: column;   
        height: 493px;
        width:100% !important;   
        background-color:#151515;
        margin-bottom: 0px;
        justify-content: space-evenly !important;    
        align-items: center !important;     

            
 
 
  

    /* background-color: green;*/
    }
 
    .header-mid{
        display: flex;
       
        align-items: center;
        width: 343px;
        color: var(--White, #FFF);
        font-family: Big Shoulders Display;
        font-size: 50px;
        font-style: normal;
        font-weight: 900;
        line-height: 45px; /* 90% */
        text-transform: uppercase;
        /*background-color: yellow;*/
        /*padding-left: 12% !important;*/
        
    }

    .address-dets{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
        /*background-color: #444;*/
        /*padding-left: 12% !important;*/
    }
    
    .address-and-location-mobi{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        /*background-color: green;*/
    }

    .address-strt-name{
        color: var(--Gold, #D5966C);
        font-family: Big Shoulders Display;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
        width: 343px;
    }
    
    .address-postal{
        color: var(--White, #FFF);
        font-family: Outfit;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 155.556% */
        width: 343px;
    }

    .address-mes{
        color: var(--White, #FFF);
        font-family: Outfit;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 155.556% */
        width: 343px;
    }

    .location-footer-mobi{
       
        box-sizing: border-box;
        display: flex !important;
        flex-direction: column !important;
        width: 100%;
        height:336px;
        background: var(--Gold, #D5966C);
        padding-left: 12% !important;
        justify-content: space-evenly;
        
        
       
        
        
    }

    .location-footer-message-mobi{
        color: var(--Almost-Black, #151515);
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px; /* 162.5% */
        width: 311px;
       
       
    }

    .location-footer-icons-mobi{
        width: 100px;
        height: 20px;
       
    }

    .locatiopage-location-mobi a{
        text-decoration: none;
        color: var(--White, #FFF);
    }
   

    .upper{
        display: none !important;
    }

    .upper-left{
        display: none !important;
    }
    .upper-mid{
        display: none !important;
    }

    .upper-text{
        display: none !important;
    }

    .location-button{
        display: none !important;
    }

    

    .mid-upper{
        display: none !important;
    }

    .mid-lower{
        display: none !important;
    }

    footer{
        display: none !important;
    }

    .location-page{
        display: none !important;
    }

    .address-and-location{
        display: none !important;
    }

    .footer-mobiB{
        display: none !important;
    }

    .footer-message{
        display: none !important;
    }

    .upper-tab-ver{
        display:none
    }
   
}

@media (min-width: 481px) and (max-width: 900px) {

        .upper{
            display:none !important;
        }

        .upper-tab-ver{
            display: flex !important;
            height:700px;
            width:100%;
            background-color:pink
        }

        .upper-tab-left{
            height:100%;
            width:55%;
            background: url("./assets/tablet/image-hero.jpg");
        }

        .upper-tab-right{
            height:100%;
            width:45%;
            background-color:white;
        }

        .upper-texts-and-button{
            background-color: pink;
            display: flex;
            flex-direction: column;
        }

        .tab-header{
            width: 339px;
            color: var(--Almost-Black, #151515);
            font-family: Big Shoulders Display;
            font-size: 70px;
            font-style: normal;
            font-weight: 900;
            line-height: 65px; /* 92.857% */
            text-transform: uppercase;
        }

        .tab-paragraph{
            width: 339px;
            color: var(--Dark-Grey, #444);
            font-family: Outfit;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px; /* 155.556% */
        }

        .tab-loc-button{
            display: flex
            
        }
        .tab-loc-button-location{
            width: 204px;
            height: 72px;
            flex-shrink: 0;
            background: var(--Almost-Black, #151515);
            color: var(--White, #FFF);
            font-family: Big Shoulders Display;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: 3.636px;
        }

        .tab-loc-select{
            width: 56px;
            height: 72px;
            flex-shrink: 0;
        }

}
  

.main{
    
    width: 90%;
    display: flex;
    flex-direction: column;
    background: var(--white, #FFF);
    padding-left: 0px;
   /* background-color: orange;*/
  
}


.upper{
    flex: 1 800px;
    width: 100%;
    flex-shrink: 1;
    /*background-color: pink;*/
    display: flex;
    justify-content:space-between;

}

.upper-left{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 35%;
    z-index: 1;

    
}

.upper-mid{
    /*background-color: red;*/
    background: url("./assets/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    z-index: 0;
    width:80%;
}

.upper-text{
    
    display: inline-flex;
    /*background-color: blanchedalmond;*/
    color: var(--Dark-Grey, #444);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body (M) */
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 145.455% */
    margin-left: 64.4%;
    margin-top: 20%;

}

.location-button{
  
    display: inline-flex;
    /*background-color: blue;*/
    margin-top: 5%;
    margin-left: 64.7%;
}

.our-location{
    color: white;
    display: flex;
    width: 204px;
    height: 72px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Big Shoulders Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.636px;
}

.desktop-location-arrow{
    width: 56px;
    height: 72px;
    flex-shrink: 0
}

.our-location a:visited{
    color: #FFF;
    text-decoration: none;
}

.our-location a:link{
    color: #FFF;
    text-decoration: none ;
}

.location-button:hover .our-location{
    background-color: #D5966C;
   
}

.location-button:hover .desktop-location-arrow rect{
    fill: black;
   
}


.our-location-select{
    /**/
}

.upper-heading{
    /*background-color: #D5966C;*/
    display: flex;
    flex-shrink: 0;
    /*color: wheat;*/
    font-feature-settings: 'clig' off, 'liga' off;
    /* Heading (XL) */
    font-family: Big Shoulders Display;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 91.667% */
    text-transform: uppercase;
    white-space: nowrap;
    margin-top:45%;
    margin-left: 75%;
    background: linear-gradient(to right, white 63%, black 37%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

.text-black{
    color: black;
    margin-top: 95%;
}


.mid-upper{
    display: flex;
    flex-direction: row;
    width: 97%;
    /*background-color: blueviolet;*/
    padding-top:20px;
    justify-content: space-between;
    padding-top: 8%;

}

.pic1{
    display: flex;
    width: 50%;
    height: 400px;
    flex-shrink: 0;
    background: url("./assets/desktop/image-grid-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.mid-upper-text{
    display: flex;
    width: 30%;
    /*background-color: aqua;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.big-text{
    /*background-color: purple;*/
    width: 350px;
    color: var(--Almost-Black, #151515);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Heading (M) */
    font-family: Big Shoulders Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 100% */
    text-transform: uppercase;
    
    
}

.small-text{
   
    width:350px;
    color: var(--Dark-Grey, #444);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body (M) */
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 145.455% */
    }

.mid-lower{
    /*background-color: rgb(131, 226, 43);*/
    width:97%;
    height: 900px;
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    

    
}

.pic2{
    width: 52%;
    background: url("./assets/desktop/image-grid-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
}

.pic-set{
    display:flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    /*background-color: red;*/
    gap: 2px;
    margin-left: 5px;
    justify-content: space-between;
}
.pic3{
    width: 100%;
    height: 43%;
    background: url("./assets/desktop/image-grid-3.jpg");
    background-repeat: no-repeat;
    /*background-color: blue;*/
    background-size: 100% 100%;

    
}

.pic4{
    width: 100%;
    height: 52%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4%;
  
  
}

.be-inspired{
    /*background-color: #D5966C;*/
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Heading (M) */
    font-family: Big Shoulders Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 100% */
    text-transform: uppercase;
    width: 70%;
}

.welcome-message{
    color: var(--white, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body (M) */
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 145.455% */
    /*background-color: pink;*/
    width: 70%;

    
}

footer{
    width: 100%;
    background-color: black;
    height: 210px;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.footer-header{

    display: flex;
    align-items: center;
    /*background-color: #D5966C;*/
    flex:1 20%;
    margin-left: 10%;
    
    
}

.footer-header svg 
{
    fill: var(--White, #FFF);
}

.footer-icons svg path:hover{
    fill: var(--Gold, #D5966C);
}

.footer-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1 40%;
    color: var(--White, #FFF);
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 155.556% */
}

.footer-icons{
    justify-content: flex-end;
    align-items: center;
    width: 20%;
   /* background-color: aqua;*/
    display: flex;
    

}

.footer-black{
    background-color: color;
    width:15%;
    height: 100%;
}

.ftext{
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    /*background-color: pink;*/
    color: white;
    font-family: Big Shoulders Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px; /* 91.667% */
    text-transform: uppercase;

}

.location-page{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.map{
    width: 100%;
    background: url("./assets/desktop/image-map.png");
    padding-left: 5%;
    padding-top: 0%;
    height: 685px;
    background-position: -90px -2px;
  
  
}


.loc-foot{
    flex: 0.5 200px;
    background-color: #D5966C;
    margin: 0;
}

.locationpage-location-button{
    display: inline-flex;
    /*background-color: blue;*/
    margin-right: 30%;
    
}

.locationpage-our-location{
 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    width: 208px;
    height:72px;
    color: var(--White, #FFF);
    font-family: Big Shoulders Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.636px;
}

.locationpage-location-button:hover .desktop-locationpage-location-arrow rect{
    fill: black;
}

.locationpage-our-location a:visited{
    color: #FFF;
    text-decoration: none;
}

.locationpage-our-location a:link{
    color: #FFF;
    text-decoration: none ;
}

.locationpage-location-button:hover .locationpage-our-location{
    background-color: #D5966C;
   
}

.location-page-location-button:hover .locationpage-our-location-select{
    background-color: black;
   
}


.locationpage-our-location-select{
    
}





.address-and-location{
    width:100%;
    height:400px;
    background-color: black;
    display: flex;
    padding-top: 5%;
    justify-content: space-around;
}

.location-text{
    display: flex;
    justify-content: center;
    background-color: black;
    width:350px;
    height:140px;
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Heading (L) */
    font-family: Big Shoulders Display;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; /* 100% */
    text-transform: uppercase;
    margin-top: 2%;
    /*background-color: yellow;*/
    margin-top: 0px;
}

.address-details{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.address-details .street-name{
    color: var(--Gold, #D5966C);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Heading (S) */
    font-family: Big Shoulders Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 100% */
    text-transform: uppercase;
    /*background-color: pink;*/
    width:350px;
    height:36px;
}

.address-details .street-address{
    width:445px;
    height:96px;
    color: var(--White, #FFF);
    /*background-color: purple;*/
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 145.455% */
    margin-top: 5%;

}

.street-message{
    width:540px;
    height:128px;
    color:  #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body (M) */
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 145.455% */
    padding-top: 4px;
   /* background-color: #D5966C;*/
   margin-top: 5%;

}

.loc-foot .footer-header{
    fill: var(--Almost-Black, #151515);
    width: 159.572px;
    height: 58px;
    /*background-color: yellow;*/
    width: 159.572px;
    height: 58px;
    margin-left: 0px;
    
}

.loc-foot{
    box-sizing: border-box;
    display: flex;
    align-items: center;
   justify-content: center;
   
}

.loc-foot .footer-inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: purple;*/
    height: 70%;
    width: 85%;
}

.loc-foot .footer-message{
    display: flex;
    width: 430px;
    color: var(--Almost-Black, #151515);
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 155.556% */
    justify-content: flex-start;
}

.loc-foot .footer-icons{
    width: 100px;
    height: 20px;
}

.loc-foot .footer-icons svg path:hover{
    fill: white;
}



.first-pic-mobi{
    display: none;
}

.mobi-sec{
    display: none;
}

.location-button-mobi{
    display: none;
}

.mobi-third{
    display: none;
}

.sec-pic-mobi{
    display: none;
}

.third-pic-mobi{
    display: none;
}

.fourth-pic-mobi{
    display: none;
}

.footer-mobi{
    display: none;
}

.footer-mobiB{
    display: none;
}

.darker{
    display:none;
}

.locationpage-mobi{
    display: none;
}

.address-and-location-mobi{
    display: none;
}

.upper-heading-tab{
    display: none;
}

.upper-text-tab{
    display: none;
}

.upper-tab-ver{
    display: none
}
